@model TestTaskLibrary.Models.Library.BookDatailsViewModel
@{
    ViewData["Title"] = "BookDatails";
}
<div class="mt-1">
    <div class="d-flex flex-column">
        <h2>@Model.Title</h2>
        <div class="align-self-end">
            <span>@Model.Author</span>
        </div>
        
    </div>
</div>
<div>
    <h4>Отзовы</h4>
    <div class="row">
        <div class="col-4">
            @await Component.InvokeAsync(nameof(TestTaskLibrary.Components.BookComments), new { id = Model.Id })
        </div>
    </div>
</div>
