@model TestTaskLibrary.Domain.Application.Features.Library.Commands.IssueBookCommand

@{
    ViewData["Title"] = "Issue";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Issue" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" class="form-control" />
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Выдать книгу" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Вернуться</a>
</div>

