@model BookViewModel
@{
    ViewData["Title"] = "BookDatails";
}
<div class="mt-1">
    <div class="d-flex flex-column">
        <h2>@Model.Title</h2>
        <div class="align-self-end">
            <div>
                <span>@await Component.InvokeAsync(nameof(AverageRating), new { bookId = Model.Id })</span>
            </div>
            <div>
                <span>@Model.Author</span>
            </div>
        </div>
        
    </div>
</div>
<div>
    <h4>Отзывы</h4>
    <div class="row">
        <div class="col-4">
            @if (User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync(nameof(UsersReview), new { id = Model.Id })
            }
            @await Component.InvokeAsync(nameof(BookComments), new { id = Model.Id })
        </div>
    </div>
</div>
